<div class="left-menu">
  <ul class="tk-menu">
    <li class="tk-submenu">
      <a routerLink="/" routerLinkActive="active">首页</a>
    </li>
    <li class="tk-submenu">
      <a routerLink="/demo" routerLinkActive="active">Demo</a>
    </li>
    <li class="tk-submenu">
      <a routerLink="/users" routerLinkActive="active">用户列表</a>
    </li>
    <li class="tk-submenu">
      <a routerLink="/login" routerLinkActive="active">登录页面</a>
    </li>
    <li class="tk-submenu">
      <a routerLink="/404" routerLinkActive="active">404</a>
    </li>
    <li class="tk-submenu">
      <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
    </li>
  </ul>
</div>
