<div class="color_list_x">
  <div class="color_list dark">
    <h6>深色</h6>
    <p>#4c5161</p>
  </div>
  <div class="color_list light">
    <h6>浅色</h6>
    <p>#f7f9fa</p>
  </div>
  <div class="color_list gray">
    <h6>灰色</h6>
    <p>#a2a9b6</p>
  </div>
  <div class="color_list blue">
    <h6>蓝色</h6>
    <p>#2486ff</p>
  </div>
  <div class="color_list" style="color:#0057c3;">
    <h6>深蓝色</h6>
    <p>#0057c3</p>
  </div>
  <div class="color_list red">
    <h6>红色</h6>
    <p>#f4615c</p>
  </div>
  <div class="color_list orange">
    <h6>橘色</h6>
    <p>#f28c48</p>
  </div>
  <div class="color_list green">
    <h6>绿色</h6>
    <p>#01cf97</p>
  </div>
  <div class="color_list" style="color:#1c2022;">
    <h6>黑灰色</h6>
    <p>#1c2022</p>
  </div>
</div>
<div style="background-color:#1c2022;margin: 50px 50px auto;;">
  <p>本页面使用display: inline-block;布局，这个布局宽度是自适应的</p>
  <a href="https://l-ui.com/content/apis/colour.html" target="_blank">页面颜色详见：Lulu UI</a>
  <p>
    Div块背景色为黑灰色
  </p>
</div>
