<div class="tk-div-container">
  <div class="tk-div">
    <a routerLink="/demo-hero" routerLinkActive="active">Angular官方示例</a><br />
  </div>
  <div class="tk-div">
    <a routerLink="/demo-tpl" routerLinkActive="active">模板和数据</a><br />
    <a routerLink="/demo-directive" routerLinkActive="active">自定义指令</a><br />
    <a routerLink="/demo-mt-table" routerLinkActive="active">mt表格</a><br />
  </div>
  <div class="tk-div">
    <a routerLink="/demo-tk-color" routerLinkActive="active">TK-Color</a><br />
    <a routerLink="/demo-tk-table" routerLinkActive="active">自定义表格</a><br />
  </div>
</div>
<div>
  本页面采用display:grid布局，tk-div-container下面的DIV自适应九宫格，不过没有做自适应。grid布局貌似只有在最外层的div时才会宽度自适应。
  参见:
  <a href="https://www.zhangxinxu.com/wordpress/2018/11/display-grid-css-css3/">
    display: grid布局教程</a>
</div>
