.user {
  text-align: center;
}

.user table {
  margin-top: 20px;
  margin-left: 20px;
  border-collapse: collapse;
  border: none;
  width: 90%;
}

td {
  border: solid #388c9b 1px;
}

.table-menu {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
