.user {
  text-align: center;
}
.table-div{
}

.user table {
  margin: 20px 10px;
  border-collapse: collapse;
  border: none;
  width: 98%;
}

td {
  border: solid #388c9b 1px;
}

.table-menu {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
